{% extends "base.html" %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>
    <div class="row py-2"><div class="col-md-12"><img src="{{ object.avatar.url }}" width="256" height="256"></div></div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
