{% load static %}
{% load sidebar_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Hasker{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poor Man's Stackoverflow">
    <meta name="author" content="Aleksandr Sergeenko">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'qa:home' %}">Hasker</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" action="{% url 'qa:search' %}">
              <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </li>
          </ul>
          <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
              <li class="nav-item">
                    <img src="{{ request.user.avatar.url }}" width="32" height="32">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:update' %}">{{ request.user }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
              </li>

            {% else %}
              <li class="nav-item">
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Sign In</a>
              </li>

            {% endif %}
            </ul>
        </div>
      </nav>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                    {% endfor %}
                {% endif %}

                {% block content %}

                {% endblock content %}
            </div>
            <div class="col-md-3">
                {% if request.user.is_authenticated %}
                    <div class="col text-center py-2">
                        <a class="btn btn-success w-50" href="{% url 'qa:ask' %}">Ask</a>
                    </div>
                {% endif %}
                <h4 class="text-center">Trending</h4>
                {% trending_tag %}
            </div>
        </div>


    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->

    {% endblock javascript %}

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>
</html>
